.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0px;
  right: 0;
  bottom: initial;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .menu ul {
    margin: 0;
    padding: 0; }
    .menu ul li {
      display: inline-block;
      margin: 10px 30px; }
      .menu ul li a {
        font-size: 36px;
        font-weight: bold;
        text-decoration: none;
        color: white; }

.cont-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto; }
  .cont-productos img {
    max-width: 100%; }

.mensajes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px; }

.item-msj {
  text-align: justify; }
  .item-msj p {
    margin: 10px 20px;
    font-family: roboto;
    font-size: 20px;
    font-style: italic; }

.animacion {
  animation-duration: 3s;
  animation-name: letras;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate; }

@keyframes letras {
  /* que voy a hacer en ese segundo y se puede dividir en secciones */
  0% {
    transform: scale(0.7); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.7); } }

.item-producto {
  margin: 20px;
  transition: 500ms;
  animation-timing-function: ease-in-out;
  position: relative; }

.item-producto:hover {
  transform: scale(1.1); }

.love {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: red;
  opacity: .5;
  position: absolute;
  top: 74%;
  left: 40%;
  animation: beating 3s ease infinite; }

.love:before,
.love:after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  position: absolute; }

.love:before {
  top: 0;
  left: -25px; }

.love:after {
  top: -25px; }

@keyframes beating {
  0% {
    transform: rotate(45deg) scale(1); }
  50% {
    transform: rotate(45deg) scale(2); }
  100% {
    transform: rotate(45deg) scale(1); } }

.cambiar-c {
  transition: all 800ms ease-in-out; }

.cambiar-c:hover {
  color: #f51bac; }

body {
  margin: 0;
  background: #FFF6E2; }

.header {
  font-family: roboto;
  width: 100%;
  height: auto;
  position: relative; }
  .header figure {
    margin: 0; }
  .header img {
    max-width: 100%;
    height: auto; }
  .header h1 {
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 80px;
    margin: 0; }

.wrapper-flores h1 {
  text-align: center;
  font-family: roboto;
  font-size: 60px;
  margin: 10px 0;
  color: #653214; }

.wrapper-flores h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: initial;
  margin: 10px 0;
  font-size: 20px;
  color: #653214; }

.titulo-principal {
  padding: 80px 0; }

.cuadro {
  width: 100px;
  height: 100px;
  background-color: red; }

.descripcion {
  max-width: 1366px;
  padding-top: 200px;
  margin-top: -200px;
  background: #fec901; }
  .descripcion h1 {
    text-align: center;
    color: #653214;
    font-family: roboto;
    margin: 50px 20px;
    font-size: 46px; }
